@model List<CategoryDetailDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Kategori Adı</th>
                    <th>Üst Kategori</th>
                    <th>Güncelle/Sil</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var categorydetail in Model)
                {
                    
                    <tr>
                        <td>@categorydetail.CategoryName</td>

                        <td>
                            @foreach (var category in ViewBag.Categories as List<Category>)
                            {
                                if (category.Id == categorydetail.ParentId)
                                {
                                    @category.CategoryName

                                }
                            }
                        </td>


                        <td>
                            @Html.ActionLink("Sil", "Delete", new { id = categorydetail.CategoryId }, new { @class = "btn btn-danger" })
                            @Html.ActionLink("Güncelle", "Edit", new { id = categorydetail.CategoryId }, new { @class = "btn btn-warning" })

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

